@model IEnumerable<Proveedor>

@{
    ViewData["Title"] = "Proveedores";
}

<h1>Proveedores</h1>
<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>
@*crear tabla*@
<table class="table">
    @*cabecera*@
    <thead>
        @*fila*@
        <tr>
            @*primera celda*@
            <th>Acciones</th>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>


        </tr>
    </thead>
    @*cuerpo*@
    <tbody>

        @foreach (var proveedor in Model)
        {
            @*fila*@
            <tr>

                @*Celda*@
                <td>
                    @*links*@
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@proveedor.IdProveedor">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@proveedor.IdProveedor">Borrar</a>
                </td>
                <td>
                    @proveedor.Identificacion
                </td>
                <td>
                    @proveedor.Nombre
                </td>
                <td>
                    @proveedor.Direccion
                </td>
                <td>
                    @proveedor.Telefono
                </td>
       
            </tr>

        }

    </tbody>
</table>
